<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1><%= @event.name %></h1>
    </div>
    <div class="card-body">
      <p>
        <strong>Start Date:</strong>
        <%= @event.start_date.strftime('%Y-%m-%d %H:%M:%S') %> <br/>
        <strong>End Date:</strong>
        <%= @event.end_date.strftime('%Y-%m-%d %H:%M:%S') %>
      </p>

      <p>
        <strong>Description</strong>
        <%= @event.description %>
      </p>

      <h4>Event Details</h4>
      <%= link_to 'Add Detail', new_event_event_detail_path(@event), class: 'btn btn-outline-secondary mb-3' %>

      <ul class="list-group">
        <% @event.event_details.each do |detail| %>
          <li class="list-group-item">
            <strong>Description:</strong> <%= detail.description %>
            <em>by <%= detail.user.email %></em>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-footer">
      <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-warning' %>
      <%= link_to 'Back', events_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
